{% extends 'base.html' %} {% block content %}

<h1>Finch Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ finch.name }}</span>
                <p>Breed: {{ finch.breed }}</p>
                <p>Description: {{ finch.description }}</p>
                {% if finch.age > 0 %}
                <p>Age: {{ finch.age }}</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'finches_update' finch.id %}">Edit</a>
                <a href="{% url 'finches_delete' finch.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_watching' finch.id %}" method="POST">
            {% csrf_token %} {{ watching_form.as_p }}
            <input type="submit" class="btn" value="Add Watching">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for watching in finch.watching_set.all %}
                <tr>
                    <td>{{watching.date}}</td>
                    <td>{{watching.get_view_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col s6">
        <h3>Available Houses</h3>
        {% if houses.count %} {% for house in houses.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                      <span style="color: {{ house.color }}">{{ house.color }}</span> {{ house.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>{{finch.name}} Already Has All Houses Available</h5>
        {% endif %}
    </div>



    <hr>
    <div class="col s6">
        <h3>{{ finch.name }}'s House</h3>
        {% if finch.houses.count %} {% for house in finch.houses.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
               <span style="color: {{ house.color }}">{{ house.color }}</span> {{ house.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_house' finch.id house.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
            <div class="card-action">
                <form action="{% url 'un_assoc_house' finch.id house.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>No Houses :(</h5>
        {% endif %}
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
    const selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}